/Java/code-battle-client.iml
/Java/.idea/
/Java/target/
*/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

/NetCore/*.idea/
/NetCore/*.suo
/NetCore/*.user
/NetCore/*/[Bb]in/
/NetCore/*/[Oo]bj/
/NetCore/_UpgradeReport_Files/
/NetCore/[Pp]ackages/
