# Default ignored files
/workspace.xml
/compiler.xml
/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
/libraries/Maven__junit_junit_4_12.xml
/libraries/Maven__org_codehaus_groovy_groovy_all_2_4_5.xml
/libraries/Maven__org_eclipse_jetty_jetty_http_8_1_16_v20140903.xml
/libraries/Maven__org_eclipse_jetty_jetty_io_8_1_16_v20140903.xml
/libraries/Maven__org_eclipse_jetty_jetty_util_8_1_16_v20140903.xml
/libraries/Maven__org_eclipse_jetty_jetty_websocket_8_1_16_v20140903.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Maven__org_spockframework_spock_core_1_0_groovy_2_4.xml
/misc.xml
/$PRODUCT_WORKSPACE_FILE$
/code-dojo-battlecity-clients.iml
/modules.xml
/vcs.xml
